*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  width: 300px;
  height: 300px;
}

.cell {
  border: 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
}

.cell:not(.x):not(.o) {
  cursor: pointer;
}

.cell:not(.x):not(.o):hover {
  background-color: #efefef;
}

.cell:nth-child(-n + 3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:nth-last-child(-n + 3) {
  border-bottom: none;
}

.cell.x::after {
  content: '❌';
}

.cell.o::after {
  content: '⭕';
}

.result {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  font-size: 20px;
}

.result > p {
  display: block;
  margin: 0 0 15px;
}

.grid-parent {
  width: 300px;
  height: 300px;
  position: relative;
}
